body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background: #f4f4f9;
  color: #333;
}

.box {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Стили состояний*/
#loader {
  color: #3716f1;
  text-align: center;
  margin: 10px 0;
}

.hidden {
  display: none !important;
}

.errorMessage {
  color: white;
  background: #ff5f5f;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

.currency-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
}

.currency-card h2,
.currency-card p {
  margin: 0;
}

.containerCurrency {
  padding: 0;
  margin-bottom: 15px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover:enabled {
  background: #0056b3;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/*для изменения индикатора курса*/
.price-change {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

.change-up {
  color: #28a745;
}

.change-down {
  color: #dc3545;
}

/* Вывод результата*/
.containerInput {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

.button-group {
  display: flex;
  gap: 10px;
}

p {
  font-weight: bold;
  margin-top: 10px;
}

.result-error {
  color: red;
}

.result-success {
  color: green;
}
